body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("aswin&co.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
}
.aswin{
  display: flex;
  justify-content: space-between;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 500%;
  height: 500%;
  background-color: rgba(248, 254, 255, 0.488);
  z-index: -1;
}
h1, h2 {
  text-align: center;
  color: #fffbfb;
}
input, button {
  color: #edde08;
  background-color: #ffffff;
}
button {
  background-color: #ff6600;
  color: #ffffff;
  cursor: pointer;
}
button:hover {
  background-color: #cc5200;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.95);
}
th {
  background-color: #000000;
  color: #ffcc00;
  padding: 10px;
}
th:nth-child(3) {
  color: #ffffff;
  font-weight: bold;
}
th:nth-child(4) {
  color: #ffffff;
  font-weight: bold;
}
td {
  padding: 10px;
  border: 1px solid #ccc;
  color: #f1efef;
}
td:nth-child(3) {
  color: #ffffff;
  font-weight: bold;
}

td:nth-child(4) {
  color: #d72828;
  font-weight: bold;
}
tr:nth-child(even) td {
  background-color: #f4f0f0; 
}
tr:hover td {
  background-color: #333;
}